a.download {
    display: block;
    text-align: center;
    text-decoration: none;
    color: silver;
    font-family: sans-serif;
    font-weight: bold;
    font-size: .8em;
    margin: 20px;
    line-height: 40px;
}